# build

.gradle/
build/
*.gradle
*.jar
*.war
gradle-*
gradlew
gradlew.bat

practise-1/.gradle
practise-1/build/
!practise-1/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
**/logs/
.settings
bin
.project*
.classpath
.factorypath
out/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store